<body onload="pageLoaded()">
    <div class="container">


        <div class="row">
            <% material.forEach(function(model) { %>
                <div class="card col-xl-6 col-sm-12">
                    <!-- <div id="title">
                        <a href="/material/adminmaterialdetail/<%=model.id%>" style="color:darkslategrey">詳細資料頁面 </a>
                    </div> -->
                    <a href="/material/adminmaterialdetail/<%=model.id%>" style="color:darkslategrey">
                        <p></p>
                        <div id="info">
                            <img src=<%=model. photo %> id="photo" width="150" height="150">
                            <ul class="list-group">
                                <li class="list-group-item" id="info">
                                    <span id="briefinfo">物資名稱:</span>
                                    <%= model.materialname%>
                                </li>
                                <li class="list-group-item" id="info">
                                    <span id="briefinfo">物資類別:</span>
                                    <%= model.category %>
                                </li>
                                <li class="list-group-item" id="info">
                                    <span id="briefinfo">數量:</span>
                                    <%= model.amount %>
                                </li>

                            </ul>
                        </div>
                    </a>
                    <p></p>
                </div>
                <% }); %>

        </div>

        <nav class="bottomnav fixed-bottom">
            <a href="/item/adminindex" class="nav__link">
                <i class="material-icons">
                    home
                </i>
                <span class="nav__text">主頁</span>
            </a>
            <a href="/item/adminsearch" class="nav__link nav__link--active">
                <i class="material-icons">
                    search
                </i>
                <span class="nav__text">搜尋</span>
            </a>
            <a href="/item/adminnoti" class="nav__link">
                <i class="material-icons">
                    email
                </i>
                <span class="nav__text">通知</span>
            </a>
            <a href="/item/adminaccount" class="nav__link">
                <i class="material-icons">
                    account_circle
                </i>
                <span class="nav__text">帳戶</span>
            </a>
        </nav>
    </div>
</body>