<body onload="pageLoaded()">
    <div class="container">

        <form action="/material/adminmaterialupdate/<%=material.id%>" method="POST">
            <div class="form-group row">
                <div class="col-xl-6 col-form-label">
                    <label>物資種類:</label>
                    <select name="Material[category]" class="form-control">
                        <option value="文具">文具</option>
                        <option value="電子產品">電子產品</option>
                    </select>
                </div>
                <div class="col-xl-6 col-form-label">
                    <label>物資名稱:</label>
                    <input type="text" class="form-control" name="Material[materialname]" value="<%= material.materialname %>" required>
                </div>

                <div class="col-xl-6 col-form-label">
                    <label>數量:</label>
                    <input type="number" class="form-control" name="Material[amount]]" value="<%= material.amount %>" required>
                </div>


                <div class="col-xl-6 col-form-label">
                    <label>位置:</label>
                    <input type="text" class="form-control" name="Material[location]]" value="<%= material.location %>" required>
                </div>

                <div class="col-xl-6 col-form-label">
                    <label>相片:</label>
                    <input type="url" class="form-control" name="Material[photo]" value="<%= material.photo %>" required>
                </div>

                <button type="submit" class="btn btn-primary center">修改</button>
            </div>

        </form>


        <nav class="bottomnav fixed-bottom">
            <a href="/item/adminindex" class="nav__link">
                <i class="material-icons">
                    home
                </i>
                <span class="nav__text">主頁</span>
            </a>
            <a href="/item/adminsearch" class="nav__link nav__link--active">
                <i class="material-icons">
                    search
                </i>
                <span class="nav__text">搜尋</span>
            </a>
            <a href="/item/adminnoti" class="nav__link">
                <i class="material-icons">
                    email
                </i>
                <span class="nav__text">通知</span>
            </a>
            <a href="/item/adminaccount" class="nav__link">
                <i class="material-icons">
                    account_circle
                </i>
                <span class="nav__text">帳戶</span>
            </a>
        </nav>
    </div>

    </div>
</body>

<script>
    var a = document.querySelector('option[value="<%=material.category%>"]');
    a.selected = "selected";
</script>