<body onload="pageLoaded()">


    <div class="container">
        <div class="row">
            <div class="card col-xl-6">
                <img class="responsive" src=<%=material.photo %>>
            </div>
            <div class="card col-xl-6">
                <table class="table">
                    <tr>
                        <th id="detail" scope="row">位置:
                            <%= material.location%>
                        </th>
                    </tr>
                    <tr>
                        <th id="detail" scope="row">書名:
                            <%= material.materialname %>
                        </th>
                    </tr>
                    <tr>
                        <th id="detail" scope="row">類型:
                            <%=material.category %>
                        </th>
                    </tr>
                    <tr>
                        <th id="detail" scope="row">數量:
                            <%= material.amount %>
                        </th>
                    </tr>

                </table>

            </div>
        </div>
    </div>

    <br>
    <div class="container">
        <div class="row">
            <div class=" col-6 col-sm-6">
                <a href="#">
                    <button type="submit" class="borrowbutton">借取</button>
                </a>
            </div>

            <div class=" col-6 col-sm-6">
                <a href="#">
                    <button type="submit" class="bookbutton">
                        預訂
                    </button>
                </a>
            </div>
        </div>
    </div>

    <nav class="bottomnav fixed-bottom">
        <a href="/item/userindex" class="nav__link">
            <i class="material-icons">
                home
            </i>
            <span class="nav__text">主頁</span>
        </a>
        <a href="/item/usersearch" class="nav__link nav__link--active">
            <i class="material-icons">
                search
            </i>
            <span class="nav__text">搜尋</span>
        </a>
        <a href="/item/usernoti" class="nav__link">
            <i class="material-icons">
                email
            </i>
            <span class="nav__text">通知</span>
        </a>
        <a href="/item/useraccount" class="nav__link">
            <i class="material-icons">
                account_circle
            </i>
            <span class="nav__text">帳戶</span>
        </a>
    </nav>
    </div>
</body>