<body onload="pageLoaded()">
    <div class="container">
        <br>

        <img src="https://cubc.org.hk/wp-content/uploads/2016/08/logo_retina_x2.png" class="center">

        <br>
        <br>

        <div class="table-responsive">
            <table class="table " id="admintable">

                <% book.forEach( function(model) { %>


                <tr class="tr2">

                    <th scope="row"></th>
                    <td><a href="/book/adminbookdetail/<%=model.id%>"><%=model.bookname%></a></td>
                    <td>
                        <a href="/book/adminbookupdate/<%=model.id%>" class="btn btn-primary"  id="edit">
                            修改
                        </a>
                    </td>
                    <td>
                        <span id="deleteid"><%= model.id %></span>

                        <form action="/book/adminbookdelete/<%=model.id%>"  method="POST">
                            <button type="submit" class="btn btn-danger">
                                刪除</button>
                        </form>

                    </td>

                </tr>


                <% }); %>

            </table>
        </div>



        <nav class="bottomnav fixed-bottom">
            <a href="/item/adminindex" class="nav__link">
                <i class="material-icons">
                    home
                </i>
                <span class="nav__text">主頁</span>
            </a>
            <a href="/item/adminsearch" class="nav__link nav__link--active">
                <i class="material-icons">
                    search
                </i>
                <span class="nav__text">搜尋</span>
            </a>
            <a href="/item/adminnoti" class="nav__link">
                <i class="material-icons">
                    email
                </i>
                <span class="nav__text">通知</span>
            </a>
            <a href="/item/adminaccount" class="nav__link">
                <i class="material-icons">
                    account_circle
                </i>
                <span class="nav__text">帳戶</span>
            </a>
        </nav>
    </div>

    </div>
</body>