<body onload="pageLoaded()">
    <br>

    <img src="https://cubc.org.hk/wp-content/uploads/2016/08/logo_retina_x2.png" class="center">

    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="card col-xl-6">
                <img src=<%=book.photo %> width=width height=height>
            </div>
            <div class="card col-xl-6">
                <table class="table">
                    <tr>
                        <th id="detail" scope="row">位置: <%= book.location%></th>
                    </tr>
                    <tr>
                        <th id="detail" scope="row">書名: <%= book.bookname %></th>
                    </tr>
                    <tr>
                        <th id="detail" scope="row">類型: <%=book.category %></th>
                    </tr>
                    <tr>
                        <th id="detail" scope="row">作者: <%= book.author %></th>
                    </tr>
                    <tr>
                        <th id="detail" scope="row">出版社: <%=book.publisher %></th>
                    </tr>
                    <tr>
                        <th id="detail" scope="row">出版年份: <%=book.year %></th>
                    </tr>
                    <tr>
                        <th id="detail" scope="row">ISBN: <%=book.ISBN %></th>
                    </tr>

                    <div>
                        <button type="submit" class="btn btn-primary">即時借取</button>

                        <button type="submit" class="btn btn-primary">預訂</button>
                    </div>

                </table>

            </div>
        </div>
    </div>
    </div>
</body>